<ion-content  mode="ios">
    <div class="snap_header">
        <div class="snap_title_container">
            <img src="../../assets/magnifying-glass.png" alt="avatar" class="header_avatar"><span class="snap_title">People Nearby</span> 
        </div>
      </div>
    <div class="snap_body">
      <div class="hint">
            Tap the nicknames of the friends you're hanging out with. You both need to check-in with each other.
      </div>
      <!-- People List -->
      <ion-list lines="none" mode="ios">
          <ion-item *ngFor="let person of people_nearby"  mode="ios" class="scan_item" (click)="tappedUser(person.nickname, person.checkedIn, person.waiting)">
              <!-- Avatar -->
                <ion-avatar slot="start">
                  <img [src]="person.profilePicture">
                </ion-avatar>
              <!-- Nickname and hours left -->
                <ion-label text-wrap>
                  <ion-text color="dark">
                    <h2>{{person.username}}</h2>
                  </ion-text>
                  <p *ngIf="person.waiting">
                    Waiting for your response...
                  </p>
                  <p *ngIf="person.checkedIn">
                    Checked-in already ✅
                  </p>
                </ion-label>
              </ion-item>              
      </ion-list>
      
      <!-- Invite to share -->
      <ion-card mode="ios" class="actionCard">
          <ion-card-content>
            <p>
              Your friends don't have the app yet? Invite them to start getting your streaks!
            </p>
            <ion-button expand="block" mode="ios" size="medium" color="tertiary"> Invite your BFFs</ion-button>
          </ion-card-content>
        </ion-card>
      
    </div>
  </ion-content>
  