<ion-content  mode="ios">
    <div class="snap_header">
      <div class="snap_title_container">
          <img src="../../assets/trophy.png" alt="avatar" class="header_avatar"><span class="snap_title">Rankings</span> 
      </div>
      <div class="category_selector">
          <span class="category_option " [class.selected_category_option]="view_list == 'nearby'" (click)="selectList('nearby')">Nearby</span>
          <span class="category_option" [class.selected_category_option]="view_list == 'global'" (click)="selectList('global')">Global</span>
      </div> 
    </div>
    <div class="snap_body">
      <div class="hint" *ngIf="loading">
        <ion-spinner></ion-spinner>
      </div>
      <!-- No ranking nearby -->
      <ion-card mode="ios" class="actionCard" *ngIf="!loading && view_list == 'nearby' && (!active_list || active_list.length == 0)" >
        <ion-card-content>
          <p>
            No one has a streak nearby.
          </p>
          <p>
            If you check in with your friends you'll be the #1 BFFs in your town! 👑
          </p>
        </ion-card-content>
      </ion-card>

      <ion-list lines="none"  mode="ios">
          <ion-item *ngFor="let position of active_list;"  mode="ios" [class.highlight_item]="position.users[0].username == this.user.username || position.users[1].username == this.user.username" >
              <!-- Avatars -->
                <ion-avatar slot="start">
                  <img [src]="position.users[0].profilePicture">
                </ion-avatar>
                <ion-avatar slot="start" class="secondAvatar">
                    <img [src]="position.users[1].profilePicture">
                </ion-avatar>
              <!-- Nickname and hours left -->
                <ion-label text-wrap>
                  <ion-text color="dark">
                    <h2>
                        <span *ngIf="position.position == 1">🥇 </span>
                        <span *ngIf="position.position == 2">🥈 </span>
                        <span *ngIf="position.position == 3">🥉 </span>
                        <span *ngIf="position.position >= 4">{{position.position}} </span>
                      {{position.users[0].username}} & {{position.users[1].username}}
                    </h2>
                  </ion-text>
                </ion-label>
                <!-- Counter -->
                <div slot="end">
                    {{position.checkins}}🔥
                </div>
              </ion-item>  
      </ion-list>

      <!-- Invite to share -->
      <ion-card mode="ios" class="actionCard" *ngIf="!loading">
          <ion-card-content>
            <p>
              Climb with your friends to the top of the rankings
            </p>
            <ion-button (click)="share.shareThisApp()" expand="block" mode="ios" size="medium" color="tertiary">Invite your BFFs</ion-button>
          </ion-card-content>
        </ion-card>
      
    </div>
  </ion-content>
  