<ion-content  mode="ios">
  <div class="snap_header">
    <div class="snap_title_container">
        <img [src]="user.avatar" alt="avatar" class="header_avatar avatar_round"><span class="snap_title">{{user.nickname}}</span> 
    </div>
    <div class="category_selector">
        <span class="category_option " [class.selected_category_option]="view_list == 'streaks'" (click)="selectList('streaks')">Streaks</span>
        <span class="category_option" [class.selected_category_option]="view_list == 'all'" (click)="selectList('all')">BFFs</span>
    </div> 
  </div>
  <div class="snap_body">
    

    <!-- Streaks List -->
    <ion-list lines="none" *ngIf="view_list == 'streaks'" mode="ios">
        <ion-item *ngFor="let friend of streaks"  mode="ios">
            <!-- Avatar -->
              <ion-avatar slot="start">
                <img [src]="friend.avatar">
              </ion-avatar>
            <!-- Nickname and hours left -->
              <ion-label text-wrap>
                <ion-text color="dark">
                  <h2>{{friend.nickname}}</h2>
                </ion-text>
                <!-- if streak -->
                <ion-text *ngIf="friend.streak && friend.hours_left>4">
                  <p>{{friend.hours_left}} hour{{friend.hours_left != 1 ? "s" : ""}} left</p>
                </ion-text>
                <!-- if streak ending soon -->
                <ion-text color="danger" *ngIf="friend.streak && friend.hours_left<=4">
                  <p>{{friend.hours_left}} hour{{friend.hours_left != 1 ? "s" : ""}} left</p>
                </ion-text>
                <!-- no streak -->
                <ion-text *ngIf="!friend.streak">
                  <p >Last met: {{friend.last_met}} days ago</p>
                </ion-text>
              </ion-label>
              <!-- Counter -->
              <div slot="end" *ngIf="friend.streak">
                  {{friend.streak_count}}🔥
              </div>
            </ion-item>              
    </ion-list>
    <!-- All List -->
    <ion-list lines="none" *ngIf="view_list == 'all'" mode="ios">
        <ion-item *ngFor="let friend of all; let i = index" mode="ios">
            <!-- Avatar -->
              <ion-avatar slot="start">
                <img [src]="friend.avatar">
              </ion-avatar>
            <!-- info -->
              <ion-label text-wrap>
                <ion-text color="dark">
                  <h2>
                    <span *ngIf="i == 0">🥇 </span>
                    <span *ngIf="i == 1">🥈 </span>
                    <span *ngIf="i == 2">🥉 </span>
                    {{friend.nickname}}</h2>
                </ion-text>
                <!-- longest streaks-->
                <ion-text>
                  <p>Longest Streak: {{friend.longest_streak}}</p>
                </ion-text>
              </ion-label>
              <!-- Counter -->
              <div slot="end">
                  {{friend.total_count}}
              </div>
          </ion-item>              
    </ion-list>
    
    <!-- Invite to share -->
    <ion-card mode="ios" class="actionCard">
        <ion-card-content>
          <p>
            The more of your friends are on BFF Streaks the more streaks you can have!
          </p>
          <ion-button expand="block" mode="ios" size="medium" color="tertiary"> Invite your BFFs</ion-button>
        </ion-card-content>
      </ion-card>
    
  </div>
</ion-content>
